@import './variables';

// src/styles/App.scss
@font-face {
    font-family: 'JosefinSans';
    src: url('../styles/assets/fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'JosefinSans';
    src: url('../styles/assets/fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sedan';
    src: url('../styles/assets/fonts/Sedan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sedan';
    src: url('../styles/assets/fonts/Sedan-Italic.ttf') format('truetype');
    font-weight: italic;
    font-style: normal;
  }
  
  
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

body {
    font-family: 'JosefinSans', sans-serif;
  }
  
.header {
  h1, h2 {
    margin: 0;
  }
}

.about, .work-section, .contact {
  margin: 20px auto;
  max-width: 800px;
}

.about-intro {
  font-family: 'Sedan', sans-serif;
  display: flex;
  justify-content: space-between;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.video-row {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
